body{background-color:#F4F4F4;color:#555;}
article{padding: 20px;width: 760px;
    height: 900px;
    margin: 0 auto;background:white;}
.picture{width: 120px;margin:auto}
aside{  width:250px;  float: left;}
.top{ background:url(../imagines/pic22.jpg);
    margin-top: 70px;  height: 630px}
h2{padding: 10px 0 10px  15px;
    border-bottom:2px dashed #DDD;  }
h3{padding:13px 0  13px 35px}
h4{padding-left: 25px;
   padding-top: 15px;}
.info{padding-top: 40px}
.skill{padding-top: 20px}
.award{height: 220px}
.award_top{width: 300px;
             height:90px;padding-top: 20px}
.award h3{float: left; }
.award h4{float: left;  }
p{line-height: 35px;
    padding-left: 40px}
header{float: right;
    width: 450px;
    line-height: 50px;text-align: center;
    font-size:50px;
    font-weight: bold;
    margin-bottom: 30px;
    padding-bottom: 20px;
    background: url("../imagines/t01ebf38b2f7831d354.jpg") top;
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent}

section{width:420px;
    float:left;margin-left:80px;}

@media all and (max-width:640px){
      article{width:100%;
               box-sizing: border-box;}
      header{width: 100%;margin-top: 30px}
     section {width: 100%;margin-left: 0}
     aside{width: 100%;}
     .top{width: 100%;margin-bottom: 60px;}
     .info{margin-left:60px}
     .skill{margin-left:60px}
    .award_top{width:100%}
.right{width: 70%;
    margin-left:60px}

}

